body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  background: pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: black;
  padding: 25px;
  border-radius: 20px;
  width: 90%;
  max-width: 320px;
  text-align: center;
}

.login-container h1 {
  color: black;
  background: pink;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.google-btn {
  background: white;
}

.login-btn {
  background: #ccc;
}

.guest-btn {
  background: #111;
  color: white;
}
