/* زر الثلاث خطوط */
.menu-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 26px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

/* القائمة الجانبية */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #111;
  padding: 20px;
  transition: 0.3s;
  z-index: 1000;
}

.side-menu h3 {
  color: white;
  margin-bottom: 20px;
}

.side-menu a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 16px;
}

.side-menu a:hover {
  color: white;
}
